* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
  height: 100vh;
}

.chat-container {
  max-width: 600px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #111827;
}

.header {
  padding: 15px;
  background: #1e293b;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  background: #2563eb;
  padding: 10px 14px;
  border-radius: 18px;
  margin: 8px 0;
  max-width: 80%;
  word-wrap: break-word;
}

.my-message {
  margin-left: auto;
  background: #22c55e;
}

.input-box {
  display: flex;
  padding: 10px;
  background: #1e293b;
  gap: 8px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #3b82f6;
  color: white;
  font-size: 18px;
}

.recording {
  background: #ef4444 !important;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}
.footer{
  text-align:center;
  padding:10px;
  background:#020617;
  color:#94a3b8;
}

.footer button{
  width:auto;
  border-radius:20px;
  padding:8px 20px;
}
