*{
box-sizing:border-box;
font-family:Tahoma,Arial,sans-serif;
}

body{
margin:0;
height:100vh;
background:#0b1220;
color:#fff;
}

header{
height:60px;
background:#111827;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 15px;
font-size:18px;
border-bottom:1px solid #334155;
}

button{
background:#2563eb;
color:white;
border:0;
padding:10px 16px;
border-radius:14px;
cursor:pointer;
}

button:hover{
opacity:.85;
}

input{
background:#1e293b;
color:white;
border:1px solid #334155;
padding:13px;
border-radius:15px;
outline:none;
width:100%;
}

.box{
width:90%;
max-width:400px;
margin:80px auto;
background:#111827;
padding:25px;
border-radius:25px;
box-shadow:0 10px 30px #0005;
}

.hide{
display:none;
}

.layout{
display:flex;
height:calc(100vh - 60px);
}

aside{
width:150px;
background:#111827;
padding:10px;
overflow:auto;
}

main{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
overflow:auto;
padding:15px;
}

.bubble{
background:#1e293b;
padding:12px;
border-radius:18px;
margin:8px 0;
max-width:80%;
word-wrap:break-word;
}

.mine{
background:#2563eb;
margin-left:auto;
}

.send{
display:flex;
gap:8px;
padding:10px;
background:#111827;
}

.send input{
flex:1;
}

.footer{
text-align:center;
padding:10px;
background:#020617;
color:#94a3b8;
font-size:13px;
}

audio,video,img{
max-width:100%;
border-radius:15px;
}

@media(max-width:600px){
aside{
width:100px;
}
}
